<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <th scope="row"><%= user.id %></th>
            <td><%= user.email %></td>
            <td>1</td>
        </tr>
        <% end %>
    </tbody>
</table>